#home {
    background-color: blue;
    bottom: 0;


    width: 100%;
    height: 100%;
    z-index: 9;
}

h2 {
    background-color: blue;
    text-align: center;
 text-decoration-color: aliceblue;
}
body
{
    text-align: center;
    background-color:aqua;
    text-decoration-color: aliceblue;
    
}
#myNavbar{
 background-color: darkturquoise;   
   
}
h3{
    text-decoration-color:darkblue;
    text-decoration-style: dashed;
    
}
h4{
    text-decoration-color: darkblue;
    text-decoration-style: dashed;
}
h5{
    text-decoration-color: darkblue;
    text-decoration-style: dashed;
}
h6{
    text-decoration-color: darkblue;
    text-decoration-style: dashed;
}